<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>

		<!-- SiteWideSearch -->
    <section name="SiteWideSearch" type="NCI.Search.Configuration.SiteWideSearchConfiguration, NCILibrary.Search" />
    <!-- End SiteWideSearch -->

		<sectionGroup name="nci">

			<!-- Search Section -->
      <sectionGroup name="search">
        <section name="elasticsearch" type="NCI.Search.Configuration.ElasticSearchSection, NCILibrary.Search.ElasticSearch" />
        <section name="bestbets" type="NCI.Search.BestBets.Configuration.BestBetsSection, NCILibrary.Search.BestBets" />
      </sectionGroup>
      <!-- End Search Section -->

			<sectionGroup name="text">
				<section name="markupExtensions" type="NCI.Text.Configuration.MarkupExtensionsSection, NCILibrary.Core" />
			</sectionGroup>
			<sectionGroup name="web">
        <section name="productionHost" type="NCI.Web.ProductionHost.Configuration.ProductionHostSection, NCILibrary.Web" />
				<section name="cde" type="NCI.Web.CDE.Configuration.ContentDeliveryEngineSection, NCILibrary.Web.ContentDeliveryEngine" />
				<section name="analytics" type="NCI.Web.CDE.WebAnalytics.Configuration.WebAnalyticsSection, NCILibrary.Web.ContentDeliveryEngine" />
				<section name="addThis" type="NCI.Web.UI.WebControls.Configuration.AddThisServiceConfigSection, NCILibrary.Web.UI.WebControls" />
        <section name="recaptchaConfig" type="NCI.Web.CDE.Configuration.ReCaptchaConfigSection,  NCILibrary.Web.ContentDeliveryEngine" />
      </sectionGroup>
		</sectionGroup>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
    </sectionGroup>
	</configSections>

	<!-- SiteWideSearch Default Provider -->
  <SiteWideSearch defaultProvider="ESSearchProvider">
    <providers>
      <add name="ESSearchProvider" type="NCI.Search.ESSiteWideSearchProvider, NCILibrary.Search.ElasticSearch" />
    </providers>
  </SiteWideSearch>
  <!-- End SiteWideSearch Default Provider -->

	<appSettings>

		<!-- GENERAL( ALL SITES ) SETTINGS -->
		<add key="isLive" value="true" />
		<add key="ErrorPage" value="/PublishedContent/ErrorMessages/error.html" />
		<add key="ChordomaContactEmail" value="${CG_TEST_EMAIL}" />

		<!-- FORM HANDLERS SETTING -->
		<add key="ContactEmailRecipient" value="${CG_TEST_EMAIL}"></add>
		<!-- END FORM HANDLER SETTINGS -->

		<!-- Error Messages -->
		<add key="NotFoundPage" value="/PublishedContent/ErrorMessages/pagenotfound.html" />
		<add key="DisplayErrorOnScreen" value="true" />
		<!-- End Error Messages -->

		<!-- WEB ANALYTICS SETTINGS -->
		<add key="WADataElementID" value="wa-data-element" />		
    <add key="DTMUrl" value="https://assets.adobedtm.com/f1bfa9f7170c81b1a9a9ecdcc6c5215ee0b03c84/satelliteLib-e2d4238892e44723cb52bc27724200218ab96baf.js" />
		<!-- END WEB ANALYTICS SETTINGS -->

	</appSettings>
	<connectionStrings>
	</connectionStrings>
	<nci>

		<!-- Search Settings-->
    <search>
      <bestbets pathConfigurationClass="CancerGov.Search.BestBets.CancerGovBestBetsPathConfiguration, CancerGov.Search.BestBets" />
      <elasticsearch>
        <clusters>
          <cluster name="SearchCluster" maximumretries="5" connectiontimeoutdelay="5000">
            <nodes>
              <node name="node1" ip="http://${PROD_ES_NODE_1}" port="9200" />
              <node name="node2" ip="http://${PROD_ES_NODE_2}" port="9200" />
              <node name="node3" ip="http://${PROD_ES_NODE_3}" port="9200" />
            </nodes>
          </cluster>
        </clusters>
        <siteWideSearchCollections>
          <siteWideSearchCollection name="DocSearch" template="docSearch" index="cgov" site="dceg.cancer.gov" cluster="SearchCluster">
            <fields>
              <field name="title" />
              <field name="url" />
              <field name="metatag.description" />
              <field name="metatag.dcterms.type" />
            </fields>
          </siteWideSearchCollection>

          <siteWideSearchCollection name="DCEGNewsletterSearch" template="docSearch" index="cgov" site="dceg.cancer.gov/news-events/linkage-newsletter" cluster="SearchCluster">
            <fields>
              <field name="title" />
              <field name="url" />
              <field name="metatag.description" />
              <field name="metatag.dcterms.type" />
            </fields>
          </siteWideSearchCollection>
        </siteWideSearchCollections>
      </elasticsearch>
    </search>
    <!-- End Search Settings-->

		<text>
			<markupExtensions returnHandlerErrorsAsOutput="true" enabled="false">
				<loaders>
					<loader type="NCI.Web.HtmlHelperLoader, NCILibrary.Core" />
				</loaders>
			</markupExtensions>
		</text>
		<web>
                <productionHost>

  <stringConditions>

    <stringCondition name="hostname" value="dceg.cancer.gov" />

    <stringCondition name="sitename" value="Division of Cancer Epidemiology and Genetics - National Cancer Institute" />

  </stringConditions>

</productionHost>
			<cde>
				<pageAssembly>
					<pageAssemblyInfoTypes enableValidation="true" xsdPath="~/Schema/CDESchema.xsd">
						<pageAssemblyInfoType name="SinglePageAssemblyInstruction" type="NCI.Web.CDE.SinglePageAssemblyInstruction, NCILibrary.Web.ContentDeliveryEngine" />
						<pageAssemblyInfoType name="MultiPageAssemblyInstruction" type="NCI.Web.CDE.MultiPageAssemblyInstruction, NCILibrary.Web.ContentDeliveryEngine" />
					</pageAssemblyInfoTypes>
				</pageAssembly>
				<fileInstruction>
					<fileInstructionTypes enableValidation="true" xsdPath="~/Schema/CDESchema.xsd">
						<fileInstructionType name="GenericFileInstruction" type="NCI.Web.CDE.GenericFileInstruction, NCILibrary.Web.ContentDeliveryEngine" />
					</fileInstructionTypes>
				</fileInstruction>
				<pathInformation>
					<!-- The {0} below is replaced with the requested URL.  E.g. /cancertopics or /cancertopics/aya -->
					<pagePathFormat path="~/PublishedContent/PageInstructions{0}.xml" />
					<!-- The {0} below is replaced with the requested URL.  E.g. /cancertopics or /cancertopics/aya -->
					<filePathFormat path="~/PublishedContent/FileInstructions{0}.xml" />
					<!-- The {0} below is replaced with the requested URL.  E.g. /cancertopics or /cancertopics/aya -->
					<sectionPathFormat path="~/PublishedContent/SectionDetails{0}/SectionDetails.xml" />
					<sectionInfoTreePath path="~/PublishedContent/Sections/SectionInfoTree.xml" />
					<pageTemplateConfigurationPath path="~/PublishedContent/PageTemplateConfigurations/PageTemplateConfiguration.xml" />
					<promoUrlMappingPath path="~/PublishedContent/Config/PromoUrlMapping.xml" />
					<bestBetsResultPath path="~/PublishedContent/BestBets/{0}.xml" />
					<englishLinkingPolicyPath path="https://www.cancer.gov/policies/linking" />
				</pathInformation>
        <publishedContentListing>
          <publishedContentListingPaths>
            <publishedContentListingPath name="BestBets" displayName="Best Bets" path="~/PublishedContent/BestBets" allowedFileTypes=".xml" />
            <publishedContentListingPath name="PageInstructions" displayName="Page Instructions" path="~/PublishedContent/PageInstructions" allowedFileTypes=".xml" />
            <publishedContentListingPath name="FileInstructions" displayName="File Instructions" path="~/PublishedContent/FileInstructions" allowedFileTypes=".xml" />
            <publishedContentListingPath name="SectionDetails" displayName="Section Details" path="~/PublishedContent/SectionDetails" allowedFileTypes=".xml" />
            <publishedContentListingPath name="LongDesc" displayName="Image Long Descriptions" path="~/PublishedContent/Longdesc" allowedFileTypes=".html" />
            <publishedContentListingPath name="RSS" displayName="RSS Feeds" path="~/PublishedContent/rss" allowedFileTypes=".rss" />
            <publishedContentListingPath name="Syndication" displayName="HHS Syndication Content" path="~/PublishedContent/Syndication" allowedFileTypes=".htm,.xml" />
            <publishedContentListingPath name="JS" displayName="Javascript" path="~/PublishedContent/js" allowedFileTypes=".js" />
            <publishedContentListingPath name="Styles" displayName="CSS Stylesheets" path="~/PublishedContent/Styles" allowedFileTypes=".css" />
          </publishedContentListingPaths>
        </publishedContentListing>

        <pageTitle>
					<appendPageTitle title=" - National Cancer Institute" />
				</pageTitle>
				<defaultHomePage homepage="/homepage" />
				<canonicalHostName>
					<canonicalUrlHostName canonicalHostName="https://dceg.cancer.gov" />
				</canonicalHostName>
			</cde>
            <!--
            ***** Web Analytics *****
            The reporting suites and path-channel mappings have been cleaned up and are now set in the section details, but
            please retain the elements below. If these are removed, both analytics and the site will break
            The analytics 'enable' attribute must still be set to "true" for analytics JS to fire off
            The urlPathChannelMappings->urlPatchChannelElement 'urlPath' and 'channelName' attributes should be set as '/' and the site's
            home page title by default. These act as a fallback in the event that analytics is misconfigured on Percussion
            -->
            <analytics enabled="true" enableNonJavaScriptTagging="false">
                <reportingSuites />
                <urlPathChannelMappings>
                    <urlPathChannelElement urlPath="/" channelName="DCEG" urlMatch="" />
                </urlPathChannelMappings>
            </analytics>
            <!-- ***** End Web Analytics *****-->

			<addThis>
				<addThisConfigs defaultLang="en">
					<addThisConfig lang="en" userName="ncioceaddthis" compactServices="favorites, delicious, digg, facebook, google, linkedin, live, myspace, reddit, stumbleupon, twitter" expandedServices="favorites, delicious, digg, facebook, google, linkedin, live, myspace, reddit, stumbleupon, twitter" />
					<addThisConfig lang="es" userName="ncioceaddthises" compactServices="favorites, delicious, facebook, google, linkedin, live, myspace, reddit, stumbleupon, twitter" expandedServices="favorites, delicious, facebook, google, linkedin, live, myspace, reddit, stumbleupon, twitter" />
				</addThisConfigs>
			</addThis>

      <recaptchaConfig>
        <PublicKey value="${CG_RECAPTCHA_PUBLIC}" />
        <PrivateKey value="${CG_RECAPTCHA_PRIVATE}" />
      </recaptchaConfig>
		</web>
	</nci>

  <!--
  Configuration for common.logging factory adapters.  The MultiLoggerFactoryAdapter allows more than one logging factory to
  be specified - eack key should start with a name for the factory, and the remainder following the period becomes a key in the
  configuration passed to the factory's constructor.  The factoryAdapter key is used to specify the class and assembly of the
  desired factory adapter.
  -->
  <common>
    <logging>
      <factoryAdapter type="NCI.Logging.Factories.MultiLoggerFactoryAdapter, NCILibrary.Core">
        <arg key="EmailLogger.factoryAdapter" value="NCI.Logging.Factories.EmailLoggerFactoryAdapter, NCILibrary.Core" />
        <arg key="EmailLogger.level" value="FATAL" />
        <arg key="EmailLogger.emailAddressFrom" value="${CG_TEST_EMAIL}"/>
        <arg key="EmailLogger.emailAddressesTo" value="${CG_TEST_EMAIL}"/>

        <arg key="EventLogger.factoryAdapter" value="NCI.Logging.Factories.EventLoggerFactoryAdapter, NCILibrary.Core" />
        <arg key="EventLogger.level" value="ALL" />
        <arg key="EventLogger.logSource" value="CDEDCEG" />
      </factoryAdapter>
    </logging>
  </common>

	<system.web>
		<!--
            Set compilation debug="true" to insert debugging
            symbols into the compiled page. Because this
            affects performance, set this value to true only
            during development.
        -->
    <compilation debug="true" targetFramework="4.5.1" />
		<!--
            The <authentication> section enables configuration
            of the security authentication mode used by
            ASP.NET to identify an incoming user.
        -->
		<authentication mode="Windows" />
		<!--
            The <customErrors> section enables configuration
            of what to do if/when an unhandled error occurs
            during the execution of a request. Specifically,
            it enables developers to configure html error pages
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<controls>
				<add tagPrefix="NCI" namespace="NCI.Web.CDE.UI" assembly="NCILibrary.Web.ContentDeliveryEngine.UI" />
			</controls>
		</pages>
		<httpHandlers>
		</httpHandlers>
		<httpModules>
		</httpModules>
	</system.web>
	<!--
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<system.webServer>
		<modules>
			<add name="PageAssemblyInstructionLoader" type="NCI.Web.CDE.PageAssemblyInstructionLoader, NCILibrary.Web.ContentDeliveryEngine" />
			<add name="FileInstructionLoader" type="NCI.Web.CDE.FileInstructionLoader, NCILibrary.Web.ContentDeliveryEngine" />
			<add name="PromoUrlMappingLoader" type="NCI.Web.CDE.PromoUrlMappingLoader, NCILibrary.Web.ContentDeliveryEngine" />
			<add name="PageAssemblyInstructionLoaderPostBack" type="NCI.Web.CDE.PageAssemblyInstructionLoader, NCILibrary.Web.ContentDeliveryEngine" />
		</modules>
		<handlers>
      <add name="FormEmailerWithCaptcha" path="FormEmailerWithCaptcha.aspx" verb="*" type="NCI.Web.CDE.HttpHandlers.FormEmailerWithCaptchaHandler,NCILibrary.Web.ContentDeliveryEngine" />
			<add name="SubscribeToListServ" path="SubscribeToListServ.aspx" verb="POST" type="NCI.Web.CDE.HttpHandlers.ListservSubscriptionHandler,NCILibrary.Web.ContentDeliveryEngine" />
      <add name="PublishedContentListingHandler" verb="GET" path="/PublishedContent/List" type="NCI.Web.CDE.HttpHandlers.PubContentListingHandler,NCILibrary.Web.ContentDeliveryEngine"/>
		</handlers>
		<directoryBrowse enabled="false" />
        <httpErrors errorMode="DetailedLocalOnly">
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="E:\Content\PercussionSites\CDESites\DCEG\Live\PublishedContent\ErrorMessages\404.html" responseMode="File" />
        </httpErrors>
        <rewrite>
          <rules>
            <rule name="HTTP to HTTPS redirect" stopProcessing="true">
              <match url="(.*)" />
              <conditions>
                <add input="{HTTPS}" pattern="off" ignoreCase="true" />
              </conditions>
              <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
            </rule>
          </rules>
          <outboundRules>
            <rule name="Add Strict-Transport-Security when HTTPS" enabled="true">
              <match serverVariable="RESPONSE_Strict_Transport_Security" pattern=".*" />
              <conditions>
                <add input="{HTTPS}" pattern="on" ignoreCase="true" />
              </conditions>
              <action type="Rewrite" value="max-age=31536000; includeSubDomains; preload" />
            </rule>
            <rule name="Cache Static Types" enabled="true">
              <match serverVariable="RESPONSE_Cache-Control" pattern=".*" />
              <action type="Rewrite" value="public, max-age=31536000" />
              <conditions>
                <add input="{CACHE_URL}" pattern="\.__v[0-9a-f]+\.(css|eot|gif|jpg|js|png|svg|ttf|woff|woff2)([?]|$)" />
              </conditions>
            </rule>
          </outboundRules>
        </rewrite>
	</system.webServer>
    <system.net>
        <mailSettings>
            <smtp deliveryMethod="Network">
                <network host="mailfwd.nih.gov" />
            </smtp>
        </mailSettings>
    </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
