<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>

    <add key="NotFoundPage" value="/PublishedContent/ErrorMessages/pagenotfound.html" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />

  </appSettings>

  <nci>
    <!-- Search Settings-->
    <search>
     <elasticsearch>
        <clusters>
          <!-- Switch to the tier-specific set of elasticsearch severs. -->
          <cluster name="SearchCluster" xdt:Locator="Match(name)" xdt:Transform="Replace" maximumretries="5" connectiontimeoutdelay="5000">
            <nodes>
              <node name="node1" ip="http://${PROD_ES_NODE_1}" port="9200" />
              <node name="node2" ip="http://${PROD_ES_NODE_2}" port="9200" />
              <node name="node3" ip="http://${PROD_ES_NODE_3}" port="9200"/>
            </nodes>
          </cluster>
        </clusters>
      </elasticsearch>
    </search>
    <!-- End Search Settings-->
  </nci>

  <common>
    <logging>
      <factoryAdapter type="NCI.Logging.Factories.MultiLoggerFactoryAdapter, NCILibrary.Core" xdt:Locator="Match(type)">
        <arg key="EmailLogger.level" value="FATAL" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
        <arg key="EventLogger.level" value="ERROR" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
      </factoryAdapter>
    </logging>
  </common>

  <system.web>
    <compilation debug="false" targetFramework="4.5.1" xdt:Transform="SetAttributes" />
  </system.web>

  <system.webServer>
    <httpErrors errorMode="DetailedLocalOnly" xdt:Transform="Replace">
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" prefixLanguageFilePath="" path="E:\Content\PercussionSites\CDESites\DCEG\Live\PublishedContent\ErrorMessages\404.html" responseMode="File" />
    </httpErrors>
  </system.webServer>

</configuration>
