<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>

    <!-- FORM HANDLERS SETTING -->
    <add key="ContactEmailRecipient" value="${CG_STAFF_EMAIL}" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
    <add key="PublicCommentContactEmailRecipient" value="${CG_ERE_EMAIL}" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
    <add key="ContactEmailRecipientEsp" value="${CG_ES_STAFF_EMAIL}" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
    <add key="LinkingPolicyEmailRecipient" value="${CG_LINK_POL_EMAIL}" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
    <add key="ProtocolSubmissionEmailRecipient" value="${APP_ALERT_EMAIL}" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
    <add key="GeneticsDirectoryEmailRecipient" value="${CG_GEN_DIR_EMAIL}" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
    <add key="CPEListServSubRecipient" value="${OCE_EMAIL}" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
    <add key="DirNotesEmailRecipient" value="${CG_DIR_NOTES_EMAIL}" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
    <add key="ContactEmailSurveyRecipient" value="${CG_SURVEY_CONTACT_EMAIL}" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
    <add key="ContactEmailSurveyRecipientEsp" value="${CG_SURVEY_CONTACT_EMAIL}" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
    <add key="CTSFeedbackRecipient" value="${CG_CTS_STAFF_EMAIL}" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
    <add key="CTSFeedbackSender" value="${CG_OCE_FEEDBK_EMAIL}" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />

    <!-- ANALYTICS JS PATH SETTINGS -->
    <add key="WAWCMSPre" value="//static.cancer.gov/webanalytics/wcms/wa_wcms_pre.js" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
    <add key="SCode" value="//static.cancer.gov/webanalytics/wcms/s_code.js" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
    <add key="NCIAnalyticsFunctions" value="//static.cancer.gov/webanalytics/wcms/NCIAnalyticsFunctions.js" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />

  </appSettings>

  <nci>
    <!-- Search Settings-->
    <search>
      <bestbets pathConfigurationClass="CancerGov.Search.BestBets.CancerGovBestBetsPathConfiguration, CancerGov.Search.BestBets" reindexSchedule="0 5 4,9,13,18,23 ? * MON-FRI" />
      <basicClinicalTrialSearchAPI apiProtocol="https" apiHost="clinicaltrialsapi.cancer.gov" apiPort="443" xdt:Transform="Replace" >
        <termMappingFiles>
          <add name="EvsMapping" priority="1" filePath="~/PublishedContent/Files/Configuration/clinical-trials/EVSMapping.txt" errOnDuplicates="true" />
          <add name="OverrideMapping" priority="1" filePath="~/PublishedContent/Files/Configuration/clinical-trials/OverrideMapping.txt" />
          <add name="TokensMapping" priority="1" filePath="~/PublishedContent/Files/Configuration/clinical-trials/TokensMapping.txt" />
          <add name="StagesMapping" priority="1" filePath="~/PublishedContent/Files/Configuration/clinical-trials/StagesMapping.txt" />
        </termMappingFiles>
      </basicClinicalTrialSearchAPI>
      <elasticsearch>
        <clusters>
          <!-- Switch to the tier-specific set of elasticsearch severs. -->
          <cluster name="SearchCluster" xdt:Locator="Match(name)" xdt:Transform="Replace" maximumretries="5" connectiontimeoutdelay="5000">
            <nodes>
              <node name="node1" ip="http://${PROD_ES_NODE_1}" port="9200" />
              <node name="node2" ip="http://${PROD_ES_NODE_2}" port="9200" />
              <node name="node3" ip="http://${PROD_ES_NODE_3}" port="9200"/>
            </nodes>
          </cluster>
        </clusters>
      </elasticsearch>
    </search>
    <!-- End Search Settings-->
    <web>
      <cde>
        <!-- Turn off XSD validation for pageAssembly and fileInstruction XML. -->
        <pageAssembly>
          <pageAssemblyInfoTypes enableValidation="false" xdt:Transform="SetAttributes" />
        </pageAssembly>
        <fileInstruction>
          <fileInstructionTypes enableValidation="false" xdt:Transform="SetAttributes" />
        </fileInstruction>

        <!-- Where do Best Bets get loaded from? -->
        <pathInformation>
          <bestBetsIndexFolder path="BestBetsLive" xdt:Transform="SetAttributes" />
        </pathInformation>

        <!-- Set location and duration for Mobile Redirector cookies (DEPRECATED) -->
        <mobileRedirector>
          <cookieDomain value="cancer.gov" xdt:Transform="Replace" />
          <timeoutMinutes value="30" xdt:Transform="Replace" />
        </mobileRedirector>

      </cde>

      <!-- URLs for requesting desktop/mobile equivalents. (DEPRECATED) -->
      <informationRequest>
        <hosts xdt:Transform="Replace">
          <host type="desktop" url="https://www.cancer.gov" />
          <host type="mobile" url="" />
        </hosts>
      </informationRequest>

      <!-- Server specific conditional values. -->
      <conditional>
        <booleanConditions>
          <booleanCondition name="atColo" value="false" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
        </booleanConditions>
      </conditional>

    </web>
  </nci>

  <common>
    <logging xdt:Transform="Replace">
      <factoryAdapter type="NCI.Logging.Factories.MultiLoggerFactoryAdapter, NCILibrary.Core">
        <arg key="EmailLogger.factoryAdapter" value="NCI.Logging.Factories.EmailLoggerFactoryAdapter, NCILibrary.Core" />
        <arg key="EmailLogger.level" value="FATAL" />
        <arg key="EmailLogger.emailAddressFrom" value="${APP_ALERT_EMAIL}"/>
        <arg key="EmailLogger.emailAddressesTo" value="${APP_ALERT_EMAIL}"/>

        <arg key="EventLogger.factoryAdapter" value="NCI.Logging.Factories.EventLoggerFactoryAdapter, NCILibrary.Core" />
        <arg key="EventLogger.level" value="ERROR" />
        <arg key="EventLogger.logSource" value="CDE_CancerGov" />
      </factoryAdapter>
    </logging>
  </common>

  <location>
    <system.web>
      <!--
      The <customErrors> section enables configuration
      of what to do if/when an unhandled error occurs
      during the execution of a request. Specifically,
      it enables developers to configure html error pages
      to be displayed in place of a error stack trace. -->
      <customErrors mode="On" defaultRedirect="/PublishedContent/ErrorMessages/error.html" redirectMode="ResponseRewrite"
                    xdt:Transform="Replace">
        <error statusCode="404" redirect="/PublishedContent/ErrorMessages/pagenotfound.html"/>
      </customErrors>
      <!-- Turn off debugging for server-compiled code. -->
      <compilation debug="false" xdt:Transform="SetAttributes" />
    </system.web>
  </location>

</configuration>
