<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>

    <!-- We only use the CTS Result Redirector on Live, because there can be only one data file. -->
    <add key="LegacyCTSResultRedirectMap" xdt:Locator="Match(key)" xdt:Transform="Remove" />

    <add key="isLive" value="false" xdt:Locator="Match(key)"  xdt:Transform="SetAttributes" />
    <add key="HostName" value="preview-stage.cancer.gov" xdt:Locator="Match(key)"  xdt:Transform="SetAttributes" />
    <add key="CDRImageLocation" value="/images/cdr/preview/" xdt:Locator="Match(key)"  xdt:Transform="SetAttributes" />

    <!-- CANCER BULLETIN SETTINGS-->
    <add key="RootUrl" value="https://preview-stage.cancer.gov" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />

  </appSettings>

  <nci>
    <search>
      <bestbets reindexSchedule="0 0/30 8-17 ? * MON-FRI" xdt:Transform="SetAttributes" />
      <basicClinicalTrialSearchAPI apiProtocol="https" apiHost="clinicaltrialsapi-stage.cancer.gov" apiPort="443" xdt:Transform="Replace" />
      <elasticsearch>
        <clusters>
          <!-- Switch to the tier-specific set of elasticsearch severs. -->
          <cluster name="SearchCluster" xdt:Locator="Match(name)" xdt:Transform="Replace" maximumretries="5" connectiontimeoutdelay="5000">
            <nodes>
              <node name="node1" ip="http://${STG_ES_NODE_1}" port="9200" />
              <node name="node2" ip="http://${STG_ES_NODE_2}" port="9200" />
              <node name="node3" ip="http://${STG_ES_NODE_3}" port="9200"/>
            </nodes>
          </cluster>
        </clusters>
      </elasticsearch>
    </search>

    <web>
      <cde>
        <!-- Where do Best Bets get loaded from? -->
        <pathInformation>
          <bestBetsIndexFolder path="BestBetsPreview" xdt:Transform="SetAttributes" />
        </pathInformation>

        <!-- Set location and duration for Mobile Redirector cookies (DEPRECATED) -->
        <mobileRedirector>
          <cookieDomain value="cancer.gov" xdt:Transform="Replace" />
          <timeoutMinutes value="30" xdt:Transform="Replace" />
        </mobileRedirector>

      </cde>

      <!-- URLs for requesting desktop/mobile equivalents. (DEPRECATED) -->
      <informationRequest>
        <hosts xdt:Transform="Replace">
          <host type="desktop" url="https://preview-stage.cancer.gov" />
          <host type="mobile" url="http://mpreview-stage.cancer.gov" />
        </hosts>
      </informationRequest>

      <!-- Server specific conditional values. -->
      <conditional>
        <booleanConditions>
          <booleanCondition name="atColo" value="false" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
        </booleanConditions>
      </conditional>

    </web>
  </nci>

  <common>
    <logging xdt:Transform="Replace">
      <factoryAdapter type="NCI.Logging.Factories.MultiLoggerFactoryAdapter, NCILibrary.Core">
        <arg key="EmailLogger.factoryAdapter" value="NCI.Logging.Factories.EmailLoggerFactoryAdapter, NCILibrary.Core" />
        <arg key="EmailLogger.level" value="FATAL" />
        <arg key="EmailLogger.emailAddressFrom" value="${CG_TEST_EMAIL}"/>
        <arg key="EmailLogger.emailAddressesTo" value="${CG_TEST_EMAIL}"/>

        <arg key="EventLogger.factoryAdapter" value="NCI.Logging.Factories.EventLoggerFactoryAdapter, NCILibrary.Core" />
        <arg key="EventLogger.level" value="ERROR" />
        <arg key="EventLogger.logSource" value="CancerGov_Preview" />
      </factoryAdapter>
    </logging>
  </common>

  <location>
    <system.web>
      <!-- Turn off debugging for server-compiled code. -->
      <compilation debug="false" xdt:Transform="SetAttributes" />
      <!--
      The <customErrors> section enables configuration 
      of what to do if/when an unhandled error occurs 
      during the execution of a request. Specifically, 
      it enables developers to configure html error pages 
      to be displayed in place of a error stack trace. -->
      <customErrors mode="On" defaultRedirect="/PublishedContent/ErrorMessages/error.html" redirectMode="ResponseRewrite"
                    xdt:Transform="Replace">
        <error statusCode="404" redirect="/PublishedContent/ErrorMessages/pagenotfound.html"/>
      </customErrors>
    </system.web>
  </location>

  <system.webServer>
    <modules>
      <!-- We only use the CTS Result Redirector on Live, because there can be only one data file. -->
      <add name="LegacyCTSResultRedirector" xdt:Locator="Match(name)" xdt:Transform="Remove" />
    </modules>

    <rewrite>
      <outboundRules>
        <!-- Remove caching of static file types from preview sites to accomadate Percussion rules on when revision numbers change. -->
        <rule name="Cache Static Types" xdt:Locator="Match(name)" xdt:Transform="Remove" />
      </outboundRules>
    </rewrite>

  </system.webServer>


</configuration>
