<?xml version="1.0" encoding="utf-8"?>

<!-- This is a placeholder. There is no preview site at COLO -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <system.webServer>
    <rewrite>
      <outboundRules>
        <!-- Remove caching of static file types from preview sites to accomadate Percussion rules on when revision numbers change. -->
        <rule name="Cache Static Types" xdt:Locator="Match(name)" xdt:Transform="Remove" />
      </outboundRules>
    </rewrite>
  </system.webServer>

</configuration>
