<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>

    <!-- SiteWideSearch -->
    <section name="SiteWideSearch" type="NCI.Search.Configuration.SiteWideSearchConfiguration, NCILibrary.Search" />
    <!-- End SiteWideSearch -->

    <sectionGroup name="nci">

      <!-- Search Section -->
      <sectionGroup name="search">
        <section name="elasticsearch" type="NCI.Search.Configuration.ElasticSearchSection, NCILibrary.Search.ElasticSearch" />
        <section name="bestbets" type="NCI.Search.BestBets.Configuration.BestBetsSection, NCILibrary.Search.BestBets" />
        <section name="basicClinicalTrialSearchAPI" type="CancerGov.ClinicalTrials.Basic.v2.Configuration.BasicClinicalTrialSearchAPISection, CancerGov.BasicCTSv2" />
      </sectionGroup>
      <!-- End Search Section -->

      <sectionGroup name="text">
        <section name="markupExtensions" type="NCI.Text.Configuration.MarkupExtensionsSection, NCILibrary.Core" />
      </sectionGroup>
      <sectionGroup name="web">
        <section name="simpleRedirection" type="NCI.Web.CDE.SimpleRedirector.Configuration.SimpleRedirectorConfigurationSection, NCILibrary.Web.ContentDeliveryEngine" />
        <section name="productionHost" type="NCI.Web.ProductionHost.Configuration.ProductionHostSection, NCILibrary.Web" />
        <section name="httpHeaders" type="NCI.Web.CDE.HttpHeaders.HttpHeadersSection, NCILibrary.Web.ContentDeliveryEngine" />
        <section name="cde" type="NCI.Web.CDE.Configuration.ContentDeliveryEngineSection, NCILibrary.Web.ContentDeliveryEngine" />
        <section name="analytics" type="NCI.Web.CDE.WebAnalytics.Configuration.WebAnalyticsSection, NCILibrary.Web.ContentDeliveryEngine" />
        <section name="addThis" type="NCI.Web.UI.WebControls.Configuration.AddThisServiceConfigSection, NCILibrary.Web.UI.WebControls" />
        <section name="informationRequest" type="NCI.Web.CDE.InformationRequest.Configuration.InformationRequestSection, NCILibrary.Web.ContentDeliveryEngine" />
        <section name="conditional" type="NCI.Web.CDE.Conditional.Configuration.ConditionalSection,  NCILibrary.Web.ContentDeliveryEngine" />
        <section name="capabilities" type="NCILibrary.Web.CapabilitiesDetection.CapabilitiesDetectionSection, NCILibrary.Web" />
        <section name="recaptchaConfig" type="NCI.Web.CDE.Configuration.ReCaptchaConfigSection,  NCILibrary.Web.ContentDeliveryEngine" />
      </sectionGroup>
    </sectionGroup>

    <section name="Sitemap" type="NCI.Web.Sitemap.SitemapProviderConfiguration, NCILibrary.Web" />
  
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>

  </configSections>

  <!-- SiteWideSearch Default Provider -->
  <SiteWideSearch defaultProvider="ESSearchProvider">
    <providers>
      <add name="ESSearchProvider" type="NCI.Search.ESSiteWideSearchProvider, NCILibrary.Search.ElasticSearch" />
    </providers>
  </SiteWideSearch>
  <!-- End SiteWideSearch Default Provider -->

  <appSettings>
    <add key="DrugDictionaryFilter" value="US brand name" />
    <add key="NotFoundPage" value="/PublishedContent/ErrorMessages/pagenotfound.html" />
    <add key="LegacyCTSResultRedirectMap" value="~/PublishedContent/Files/Configuration/ctsredirectmap.txt" />
    <add key="isLive" value="true" />
    <add key="HostName" value="www.cancer.gov" />
    <add key="CDRImageLocation" value="/images/cdr/live/" />
    <add key="DrugDictionaryPageSize" value="200" />

    <!-- CLINICAL TRIALS SETTINGS -->
    <add key="CTSearchTimeout" value="300" />
    <add key="NoResCTSurveyShown" value="ForeseeSurveyShown_RgAY1xN8so" />
    <add key="LegacyClinicalTrialsResultsPage" value="/about-cancer/treatment/clinical-trials/search/results" />
    <add key="ClinicalTrialsResultsPage" value="/about-cancer/treatment/clinical-trials/search/r" />
    <add key="ClinicalTrialsViewPage" value="/about-cancer/treatment/clinical-trials/search/v" />
    <add key="ClinicalTrialsSearchLinkCountry" value="U.S.A." />
    <add key="ZipCodesJsonMap" value="~/PublishedContent/Files/Configuration/data/zip_codes.json" />
    <add key="CancerIDMapping" value="~/PublishedContent/Files/Configuration/data/cts-cdrid-to-ccid-map.txt" />
    <add key="ClinicalTrialsAPIBasepath" value="v1" />
    <add key="CTSConfigFilePath" value="~/PublishedContent/Files/Configuration/clinical-trials/CTSPageConfig.xml"/>
    <!-- END CLINICAL TRIALS SETTINGS-->

    <add key="RootUrl" value="https://www.cancer.gov" />
    <add key="ListServe" value="${NIH_LISTSERV_EMAIL}" />

    <!-- FORM HANDLERS SETTING -->
    <add key="ContactEmailRecipient" value="${CG_TEST_EMAIL}" />
    <add key="CTSFeedbackRecipient" value="${CG_TEST_EMAIL}" />
    <add key="CTSFeedbackSender" value="${CG_TEST_EMAIL}" />
    <add key="PublicCommentContactEmailRecipient" value="${CG_TEST_EMAIL}" />
    <add key="ContactEmailRecipientEsp" value="${CG_TEST_EMAIL}" />
    <add key="LinkingPolicyEmailRecipient" value="${CG_TEST_EMAIL}" />
    <add key="ProtocolSubmissionEmailRecipient" value="${CG_TEST_EMAIL}" />
    <add key="GeneticsDirectoryEmailRecipient" value="${CG_TEST_EMAIL}" />
    <add key="CPEListServSubRecipient" value="${CG_TEST_EMAIL}" />
    <add key="DirNotesEmailRecipient" value="${CG_TEST_EMAIL}" />
    <add key="ContactEmailSurveyRecipient" value="${CG_TEST_EMAIL}" />
    <add key="ContactEmailSurveyRecipientEsp" value="${CG_TEST_EMAIL}" />


    <!-- END FORM HANDLER SETTINGS -->

    <!-- Error Message Pages -->
    <add key="ErrorPage" value="/PublishedContent/ErrorMessages/error.html" />
    <add key="ClinicalTrialInvalidSearchID" value="/PublishedContent/ErrorMessages/invalidsearchid.html" />

    <add key="CDRAudioMediaLocation" value="/PublishedContent/Media/CDR/media" />
    <add key="FlashMediaLocation" value="/publishedcontent/files/global/flash" />
    <add key="MobileRedirectCookieName" value="CancerGov_MobileRedirect" />
    <add key="CDRImageRegular" value="571" />
    <add key="CDRImageEnlarge" value="750" />

    <!-- ANALYTICS JS PATH SETTINGS -->
    <add key="WAWCMSPre" value="//static-dev.cancer.gov/WebAnalytics/WCMS/wa_wcms_pre.js" />
    <add key="SCode" value="//static-dev.cancer.gov/WebAnalytics/WCMS/s_code.js" />
    <add key="NCIAnalyticsFunctions" value="//static-dev.cancer.gov/WebAnalytics/WCMS/NCIAnalyticsFunctions.js" />
    <!-- END ANALYTICS JS PATH SETTINGS -->

  </appSettings>

  <connectionStrings configSource="localConfig\connectionStrings.config">
  </connectionStrings>

  <nci>
    <!-- Search Settings-->
    <search>
      <basicClinicalTrialSearchAPI apiProtocol="https" apiHost="clinicaltrialsapi-stage.cancer.gov" apiPort="443">
        <termMappingFiles>
          <add name="EvsMapping" priority="1" filePath="~/PublishedContent/Files/Configuration/clinical-trials/EVSMapping.txt" errOnDuplicates="true" />
          <add name="OverrideMapping" priority="1" filePath="~/PublishedContent/Files/Configuration/clinical-trials/OverrideMapping.txt" />
          <add name="TokensMapping" priority="1" filePath="~/PublishedContent/Files/Configuration/clinical-trials/TokensMapping.txt" />
          <add name="StagesMapping" priority="1" filePath="~/PublishedContent/Files/Configuration/clinical-trials/StagesMapping.txt" />
        </termMappingFiles>
      </basicClinicalTrialSearchAPI>
      <bestbets pathConfigurationClass="CancerGov.Search.BestBets.CancerGovBestBetsPathConfiguration, CancerGov.Search.BestBets" reindexSchedule="0 5 4,9,13,18,23 ? * MON-FRI" />
      <elasticsearch>
        <clusters>
          <cluster name="SearchCluster" maximumretries="5" connectiontimeoutdelay="5000">
            <nodes>
              <node name="node1" ip="http://${DEV_ES_NODE}" port="9200" />
            </nodes>
          </cluster>
        </clusters>
        <siteWideSearchCollections>
          <siteWideSearchCollection name="CancerGovEnglish" template="cgovSearch" index="cgov" site="ALL" cluster="SearchCluster">
            <fields>
              <field name="title" />
              <field name="url" />
              <field name="metatag.description" />
              <field name="metatag.dcterms.type" />
            </fields>
          </siteWideSearchCollection>

          <siteWideSearchCollection name="CancerGovSpanish" template="spanishcgovSearch" index="cgov" site="ALL" cluster="SearchCluster">
            <fields>
              <field name="title" />
              <field name="url" />
              <field name="metatag.description" />
              <field name="metatag.dcterms.type" />
            </fields>
          </siteWideSearchCollection>

          <siteWideSearchCollection name="OCNRSearch" template="docSearch" index="cgov" site="www.cancer.gov/sites/ocnr" cluster="SearchCluster">
            <fields>
              <field name="title" />
              <field name="url" />
              <field name="metatag.description" />
              <field name="metatag.dcterms.type" />
            </fields>
          </siteWideSearchCollection>
        </siteWideSearchCollections>
      </elasticsearch>
    </search>
    <!-- End Search Settings-->

    <text>
      <markupExtensions returnHandlerErrorsAsOutput="true">
        <loaders>
          <loader type="NCI.Web.HtmlHelperLoader, NCILibrary.Core" />
          <loader type="NCI.Web.CDE.UI.MarkupExtensions.CancerGovLegacyExtensionsLoader, PresentationClasses" />
        </loaders>
      </markupExtensions>
    </text>
    <web>
      <simpleRedirection>
        <dataSource file="~/PublishedContent/Files/Configuration/RedirectionList.txt" separator="," />
      </simpleRedirection>
      <productionHost>
        <stringConditions>
          <stringCondition name="hostname" value="www.cancer.gov" />
          <stringCondition name="sitename" value="National Cancer Institute" />
        </stringConditions>
      </productionHost>
      <httpHeaders>
        <headers>
          <add name="X-UA-Compatible" value="IE=10" />
          <add name="Cache-Control" value="no-store" />
        </headers>
      </httpHeaders>

      <capabilities>
        <deviceData dataFile="~/PublishedContent/Files/Configuration/WURFL/wurfl-latest.zip" patchFile="~/PublishedContent/Files/Configuration/WURFL/web_browsers_patch.xml" />
      </capabilities>
      <cde>
        <pageAssembly>
          <pageAssemblyInfoTypes enableValidation="true" xsdPath="~/Schema/CDESchema.xsd">
            <pageAssemblyInfoType name="SinglePageAssemblyInstruction" type="NCI.Web.CDE.SinglePageAssemblyInstruction, NCILibrary.Web.ContentDeliveryEngine" />
            <pageAssemblyInfoType name="MultiPageAssemblyInstruction" type="NCI.Web.CDE.MultiPageAssemblyInstruction, NCILibrary.Web.ContentDeliveryEngine" />
          </pageAssemblyInfoTypes>
        </pageAssembly>
        <fileInstruction>
          <fileInstructionTypes enableValidation="true" xsdPath="~/Schema/CDESchema.xsd">
            <fileInstructionType name="GenericFileInstruction" type="NCI.Web.CDE.GenericFileInstruction, NCILibrary.Web.ContentDeliveryEngine" />
          </fileInstructionTypes>
        </fileInstruction>
        <pathInformation>
          <!-- The {0} below is replaced with the requested URL.  E.g. /cancertopics or /cancertopics/aya -->
          <pagePathFormat path="~/PublishedContent/PageInstructions{0}.xml" />
          <!-- The {0} below is replaced with the requested URL.  E.g. /cancertopics or /cancertopics/aya -->
          <filePathFormat path="~/PublishedContent/FileInstructions{0}.xml" />
          <!-- The {0} below is replaced with the requested URL.  E.g. /cancertopics or /cancertopics/aya -->
          <sectionPathFormat path="~/PublishedContent/SectionDetails{0}/SectionDetails.xml" />
          <sectionInfoTreePath path="~/PublishedContent/Sections/SectionInfoTree.xml" />
          <pageTemplateConfigurationPath path="~/PublishedContent/PageTemplateConfigurations/PageTemplateConfiguration.xml" />
          <promoUrlMappingPath path="~/PublishedContent/config/PromoUrlMapping.xml" />
          <bestBetsResultPath path="~/PublishedContent/BestBets/{0}.xml" />
          <bestBetsIndexFolder path="BestBetsDev" />
          <englishLinkingPolicyPath path="/policies/linking" />
          <espanolLinkingPolicyPath path="/espanol/politicas/enlaces" />
        </pathInformation>
        <publishedContentListing>
          <publishedContentListingPaths>
            <publishedContentListingPath name="BestBets" displayName="Best Bets" path="~/PublishedContent/BestBets" allowedFileTypes=".xml" />
            <publishedContentListingPath name="PageInstructions" displayName="Page Instructions" path="~/PublishedContent/PageInstructions" allowedFileTypes=".xml" />
            <publishedContentListingPath name="FileInstructions" displayName="File Instructions" path="~/PublishedContent/FileInstructions" allowedFileTypes=".xml" />
            <publishedContentListingPath name="SectionDetails" displayName="Section Details" path="~/PublishedContent/SectionDetails" allowedFileTypes=".xml" />
            <publishedContentListingPath name="LongDesc" displayName="Image Long Descriptions" path="~/PublishedContent/Longdesc" allowedFileTypes=".html" />
            <publishedContentListingPath name="RSS" displayName="RSS Feeds" path="~/PublishedContent/rss" allowedFileTypes=".rss" />
            <publishedContentListingPath name="Syndication" displayName="HHS Syndication Content" path="~/PublishedContent/Syndication" allowedFileTypes=".htm,.xml" />
            <publishedContentListingPath name="JS" displayName="Javascript" path="~/PublishedContent/js" allowedFileTypes=".js" />
            <publishedContentListingPath name="Styles" displayName="CSS Stylesheets" path="~/PublishedContent/Styles" allowedFileTypes=".css" />
          </publishedContentListingPaths>
        </publishedContentListing>
        <pageTitle>
          <appendPageTitle title=" - National Cancer Institute" />
        </pageTitle>
        <defaultHomePage homepage="/defaulthomepage" />
        <canonicalHostName>
          <canonicalUrlHostName canonicalHostName="https://www.cancer.gov" />
        </canonicalHostName>
        <mobileRedirector>
          <cookieName value="CancerGov_MobileRedirect" />
          <cookieDomain value="cancer.gov" />
          <timeoutMinutes value="1" />
          <refreshOnPageView value="true" />
        </mobileRedirector>

      </cde>

      <!-- 
        ***** Web Analytics *****
	    The reporting suites and path-channel mappings have been cleaned up and are now set in the section details, but 
        please retain the elements below. If these are removed, both analytics and the site will break
        The analytics 'enable' attribute must still be set to "true" for analytics JS to fire off
        The urlPathChannelMappings->urlPatchChannelElement 'urlPath' and 'channelName' attributes should be set as '/' and the site's 
        home page title by default. These act as a fallback in the event that analytics is misconfigured on Percussion 
      -->
      <analytics enabled="true" enableNonJavaScriptTagging="false">
        <reportingSuites />
        <urlPathChannelMappings>
          <urlPathChannelElement urlPath="/" channelName="NCI Home" />
        </urlPathChannelMappings>
      </analytics>
      <!-- ***** End Web Analytics ***** -->

      <addThis>
        <addThisConfigs defaultLang="en">
          <addThisConfig lang="en" userName="ncioceaddthis" compactServices="facebook, twitter, google_plusone_share, pinterest_share, google, favorites" expandedServices="favorites, delicious, digg, facebook, google, google_plusone_share, linkedin, reddit, stumbleupon, twitter" />
          <addThisConfig lang="es" userName="ncioceaddthises" compactServices="facebook, twitter, google_plusone_share, pinterest_share, google, favorites" expandedServices="favorites, delicious, digg, facebook, google, google_plusone_share, linkedin, reddit, stumbleupon, twitter" />
          <addThisConfig lang="pt" userName="ncioceaddthispt" compactServices="facebook, twitter, google_plusone_share, pinterest_share, google, favorites" expandedServices="favorites, delicious, digg, facebook, google, google_plusone_share, linkedin, reddit, stumbleupon, twitter" />
          <addThisConfig lang="zh" userName="ncioceaddthiszh" compactServices="facebook, twitter, google_plusone_share, pinterest_share, google, favorites" expandedServices="favorites, delicious, digg, facebook, google, google_plusone_share, linkedin, reddit, stumbleupon, twitter" />
        </addThisConfigs>
      </addThis>
      <informationRequest>
        <hosts>
          <host type="desktop" url="http://localhost:7001" />
          <host type="mobile" url="http://localhost:7069" />
        </hosts>
        <mappedPages>
          <mappedPage name="Pop Definition" desktopUrl="/common/popUps/popDefinition.aspx" mobileUrl="/dictionary" />
        </mappedPages>
      </informationRequest>
      <conditional>
        <booleanConditions>
          <booleanCondition name="atColo" value="true" />
        </booleanConditions>
      </conditional>

      <recaptchaConfig>
        <PublicKey value="${CG_RECAPTCHA_PUBLIC}" />
        <PrivateKey value="${CG_RECAPTCHA_PRIVATE}" />
      </recaptchaConfig>
    </web>
  </nci>
      
  <!-- 
  Configuration for common.logging factory adapters.  The MultiLoggerFactoryAdapter allows more than one logging factory to
  be specified - eack key should start with a name for the factory, and the remainder following the period becomes a key in the
  configuration passed to the factory's constructor.  The factoryAdapter key is used to specify the class and assembly of the
  desired factory adapter.
    -->
  <common>
    <logging>
      <factoryAdapter type="NCI.Logging.Factories.MultiLoggerFactoryAdapter, NCILibrary.Core">
        <arg key="EmailLogger.factoryAdapter" value="NCI.Logging.Factories.EmailLoggerFactoryAdapter, NCILibrary.Core" />
        <arg key="EmailLogger.level" value="FATAL" />
        <arg key="EmailLogger.emailAddressFrom" value="${CG_TEST_EMAIL}" />
        <arg key="EmailLogger.emailAddressesTo" value="${CG_TEST_EMAIL}" />
        
        <arg key="EventLogger.factoryAdapter" value="NCI.Logging.Factories.EventLoggerFactoryAdapter, NCILibrary.Core" />
        <arg key="EventLogger.level" value="ERROR" />
        <arg key="EventLogger.logSource" value="CDECancerGov" />
      </factoryAdapter>
    </logging>
  </common>

  <location path="." inheritInChildApplications="false">
    <system.web>
      <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
      <compilation debug="true" targetFramework="4.5.1" />
      <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
      <authentication mode="Windows" />
      <!--
The <customErrors> section enables configuration 
of what to do if/when an unhandled error occurs 
during the execution of a request. Specifically, 
it enables developers to configure html error pages 
to be displayed in place of a error stack trace. -->
      <customErrors mode="On" defaultRedirect="/PublishedContent/ErrorMessages/error.html" redirectMode="ResponseRewrite">
        <error statusCode="404" redirect="/PublishedContent/ErrorMessages/pagenotfound.html" />
      </customErrors>


      <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
        <controls>
          <add tagPrefix="NCI" namespace="NCI.Web.CDE.UI" assembly="NCILibrary.Web.ContentDeliveryEngine.UI" />
        </controls>
      </pages>
      <httpHandlers>
      </httpHandlers>
      <httpModules>
      </httpModules>
    </system.web>
  </location>

  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <modules>
      <add name="LegacyCTSResultRedirector" type="CancerGov.HttpModules.LegacyCTSResultRedirector, CancerGov.LegacyCTSResultRedirector" />
      <add name="PageAssemblyInstructionLoader" type="NCI.Web.CDE.PageAssemblyInstructionLoader, NCILibrary.Web.ContentDeliveryEngine" />
      <add name="NCTIDRedirectModule" type="CancerGov.ClinicalTrials.Basic.v2.NCTIDRedirectModule, CancerGov.BasicCTSv2" />
      <add name="FileInstructionLoader" type="NCI.Web.CDE.FileInstructionLoader, NCILibrary.Web.ContentDeliveryEngine" />
      <add name="SimpleRedirect" type="NCI.Web.CDE.SimpleRedirect, NCILibrary.Web.ContentDeliveryEngine" />

      <add name="PromoUrlMappingLoader" type="NCI.Web.CDE.PromoUrlMappingLoader, NCILibrary.Web.ContentDeliveryEngine" />
      <add name="PageAssemblyInstructionLoaderPostBack" type="NCI.Web.CDE.PageAssemblyInstructionLoader, NCILibrary.Web.ContentDeliveryEngine" />
      <add name="EmergencyAlertHttpModule" type="CancerGov.EmergencyAlert.EmergencyAlertHttpModule, CancerGov.EmergencyAlert" />

      <add name="InformationRequestModuleAndHandler" type="NCI.Web.CDE.InformationRequestModuleAndHandler, NCILibrary.Web.ContentDeliveryEngine" />
    </modules>
    <handlers>
      <!--
            *********
            When adding new entries, be sure to remove them from the RATs!!!
            *********
      -->
      <add name="ClinicalTrialsLinkHandler" path="ClinicalTrialsLink" verb="*" type="CancerGov.Handlers.ClinicalTrialsLinkHandler" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="ClinicalTrialsLinkAspxHandler" path="ClinicalTrialsLink.aspx" verb="*" type="CancerGov.Handlers.ClinicalTrialsLinkHandler" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="ClinicalTrialsBasicAutosuggest" path="BasicCTS.Service/v1/CancerTypeAutoSuggest" verb="*" type="CancerGov.ClinicalTrials.Basic.HttpHandlers.CTSCancerTypeAutoSuggestHandler" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="FlashGetCookieHandler" path="GetCookie.aspx" verb="*" type="NCI.Web.CDE.HttpHandlers.FlashGetCookieHandler,NCILibrary.Web.ContentDeliveryEngine" />
      <add name="FlashSetCookieHandler" path="SetCookie.aspx" verb="*" type="NCI.Web.CDE.HttpHandlers.FlashSetCookieHandler,NCILibrary.Web.ContentDeliveryEngine" />

      <add name="FormEmailerWithCaptcha" path="FormEmailerWithCaptcha.aspx" verb="*" type="NCI.Web.CDE.HttpHandlers.FormEmailerWithCaptchaHandler,NCILibrary.Web.ContentDeliveryEngine" />
      <add name="FeedbackService" path="Feedback.Service" verb="POST" type="NCI.Web.CDE.HttpHandlers.FeedbackService,NCILibrary.Web.ContentDeliveryEngine" />
      <add name="SubscribeToListServ" path="SubscribeToListServ.aspx" verb="POST" type="NCI.Web.CDE.HttpHandlers.ListservSubscriptionHandler,NCILibrary.Web.ContentDeliveryEngine" />
      <add name="SitemapHandler" verb="*" path="sitemap.xml" type="NCI.Web.Sitemap.SitemapHandler, NCILibrary.Web" />
      <add name="PublishedContentListingHandler" verb="GET" path="/PublishedContent/List" type="NCI.Web.CDE.HttpHandlers.PubContentListingHandler,NCILibrary.Web.ContentDeliveryEngine" />
      <add name="DictionaryServiceHandler" verb="GET" path="Dictionary.Service" type="NCI.Services.Dictionary.DictionaryHandler, NCILibrary.Services.Dictionary" />
      <add name="PageNotFoundHandler" verb="GET" path="PageNotFound.aspx" type="NCI.Web.CDE.HttpHandlers.PageNotFoundHandler,NCILibrary.Web.ContentDeliveryEngine" />
      <add name="CTSNewPrintRequestHandler" path="CTS.Print/GenCache" verb="POST" type="CancerGov.ClinicalTrials.Basic.v2.HttpHandlers.CTSCachedPrintRequestHandler,CancerGov.BasicCTSv2" />
      <add name="CTSCachedPrintRequestHandler" path="CTS.Print/Display" verb="GET" type="CancerGov.ClinicalTrials.Basic.v2.HttpHandlers.CTSCachedPrintRequestHandler,CancerGov.BasicCTSv2" />
      <!--
            *********
            When adding new entries, be sure to remove them from the RATs!!!
            *********
      -->
    </handlers>
    <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" />
      <dynamicTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </staticTypes>
    </httpCompression>
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />

    <!-- Setup custom error reporting -->
    <httpErrors errorMode="DetailedLocalOnly">
      <remove statusCode="500" subStatusCode="-1" />
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" prefixLanguageFilePath="" path="/PageNotFound.aspx" responseMode="ExecuteURL" />
      <error statusCode="500" prefixLanguageFilePath="" path="/PublishedContent/ErrorMessages/error.html" responseMode="ExecuteURL" />
    </httpErrors>
    <defaultDocument>
      <files>
        <add value="thankyou.html" />
      </files>
    </defaultDocument>
    <rewrite>
      <rules>
        <rule name="HTTP to HTTPS redirect" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
        </rule>
      </rules>
      <outboundRules>
        <rule name="Add Strict-Transport-Security when HTTPS" enabled="true">
          <match serverVariable="RESPONSE_Strict_Transport_Security" pattern=".*" />
          <conditions>
            <add input="{HTTPS}" pattern="on" ignoreCase="true" />
          </conditions>
          <action type="Rewrite" value="max-age=31536000; preload" />
        </rule>
        <rule name="Cache Static Types" enabled="true">
          <match serverVariable="RESPONSE_Cache-Control" pattern=".*" />
          <action type="Rewrite" value="public, max-age=31536000" />
          <conditions>
            <add input="{CACHE_URL}" pattern="\.__v[0-9a-f]+\.(js|css|gif|jpg|png|svg)([?]|$)" />
          </conditions>
        </rule>

      </outboundRules>
    </rewrite>
  </system.webServer>
  <Sitemap>
    <SitemapStores>
      <add name="PageInstructionsStore" type="NCI.Web.CDE.PageAssembly.InstructionSitemapUrlStore, NCILibrary.Web.ContentDeliveryEngine" />
    </SitemapStores>
    <SitemapErrorCount max="5" />
  </Sitemap>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="C:\inetpub\mailroot\Pickup" />
      </smtp>
    </mailSettings>
  </system.net>
<location path="." inheritInChildApplications="false">
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="AjaxBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <services>	
      <!-- <service name="NCI.Services.Dictionary.DictionaryService">
        <endpoint behaviorConfiguration="AjaxBehavior" binding="webHttpBinding" contract="NCI.Services.Dictionary.DictionaryService" />
      </service> -->
      <service name="CancerGov.CDR.TermDictionary.TermDictionaryService">
        <endpoint behaviorConfiguration="AjaxBehavior" binding="webHttpBinding" contract="CancerGov.CDR.TermDictionary.TermDictionaryService" />
        <endpoint behaviorConfiguration="AjaxBehavior" binding="webHttpBinding" bindingConfiguration="webBinding" contract="CancerGov.CDR.TermDictionary.TermDictionaryService" />
      </service>
      <service name="CancerGov.CDR.DrugDictionary.DrugDictionaryService">
        <endpoint behaviorConfiguration="AjaxBehavior" binding="webHttpBinding" contract="CancerGov.CDR.DrugDictionary.DrugDictionaryService" />
        <endpoint behaviorConfiguration="AjaxBehavior" binding="webHttpBinding" bindingConfiguration="webBinding" contract="CancerGov.CDR.TermDictionary.TermDictionaryService" />
      </service>
      <service name="CancerGov.Search.AutoSuggest.AutoSuggestSearchService">
        <endpoint behaviorConfiguration="AjaxBehavior" binding="webHttpBinding" contract="CancerGov.Search.AutoSuggest.AutoSuggestSearchService" />
        <endpoint behaviorConfiguration="AjaxBehavior" binding="webHttpBinding" bindingConfiguration="webBinding" contract="CancerGov.Search.AutoSuggest.AutoSuggestSearchService" />
      </service>
    </services>
    <bindings>
      <webHttpBinding>
        <binding name="webBinding">
          <security mode="Transport" />
        </binding>
      </webHttpBinding>
    </bindings>
  </system.serviceModel>
</location>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Common.Logging.Core" publicKeyToken="AF08829B84F0328E" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Common.Logging" publicKeyToken="AF08829B84F0328E" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
			</dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>
