<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="CDRImageLocation" value="https://www-blue-dev.cancer.gov/images/cdr/Preview/" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
  </appSettings>

  <nci>
    <!-- Search Settings-->
    <search>
      <elasticsearch>
        <clusters>
          <!-- Switch to the tier-specific set of elasticsearch severs. -->
          <cluster name="SearchCluster" xdt:Locator="Match(name)" xdt:Transform="Replace" maximumretries="5" connectiontimeoutdelay="5000">
            <nodes>
              <node name="node1" ip="http://${DEV_ES_NODE}" port="9200" />
            </nodes>
          </cluster>
        </clusters>
      </elasticsearch>
    </search>
    <!-- End Search Settings-->

    <web>
      <cde>
        <pathInformation>
          <englishLinkingPolicyPath path="https://www.cancer.gov/policies/linking" xdt:Transform="SetAttributes" />
          <espanolLinkingPolicyPath path="https://www.cancer.gov/espanol/politicas/enlaces" xdt:Transform="SetAttributes"/>
        </pathInformation>
      </cde>

      <!-- ***** Web Analytics *****-->
      <analytics>
        <reportingSuites xdt:Transform="Replace">
          <suite name="ncicssi-strategicscientificinitiatives" enabledForAllChannels="true" />
        </reportingSuites>
      </analytics>
      <!-- ***** End Web Analytics *****-->
    </web>
  </nci>

  <common>
    <logging>
      <factoryAdapter type="NCI.Logging.Factories.MultiLoggerFactoryAdapter, NCILibrary.Core" xdt:Locator="Match(type)">
        <arg key="EmailLogger.level" value="FATAL" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
        <arg key="EmailLogger.emailAddressFrom" value="${CG_TEST_EMAIL}" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
        <arg key="EmailLogger.emailAddressesTo" value="${CG_TEST_EMAIL}" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />

        <arg key="EventLogger.level" value="ALL" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
        <arg key="EventLogger.logSource" value="CDETCGA" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
      </factoryAdapter>
    </logging>
  </common>

  <system.web>
    <!--
            Set compilation debug="true" to insert debugging
            symbols into the compiled page. Because this
            affects performance, set this value to true only
            during development.
        -->
    <compilation debug="true" targetFramework="4.5.1" xdt:Transform="SetAttributes"/>

    <!-- ensure customError defaults -->
    <customErrors mode="On" defaultRedirect="/PublishedContent/ErrorMessages/error.html" redirectMode="ResponseRewrite" xdt:Transform="SetAttributes" >
      <error statusCode="404" redirect="/PublishedContent/ErrorMessages/pagenotfound.html" xdt:Locator="Match(statusCode)" xdt:Transform="SetAttributes" />
    </customErrors>
  </system.web>

  <system.webServer>
    <httpErrors>
      <error statusCode="404" prefixLanguageFilePath="" path="PageNotFound.aspx" responseMode="ExecuteURL" xdt:Locator="Match(statusCode)" xdt:Transform="SetAttributes" />
      <error statusCode="500" prefixLanguageFilePath="" path="/PublishedContent/ErrorMessages/error.html" responseMode="ExecuteURL" xdt:Locator="Match(statusCode)" xdt:Transform="SetAttributes" />
    </httpErrors>

    <rewrite>
      <outboundRules>
        <!-- Remove caching of static file types from preview sites to accomadate Percussion rules on when revision numbers change. -->
        <rule name="Cache Static Types" xdt:Locator="Match(name)" xdt:Transform="Remove" />
      </outboundRules>
    </rewrite>

  </system.webServer>
</configuration>
