<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>

    <!-- ANALYTICS JS PATH SETTINGS -->
    <add key="WAWCMSPre" value="//static.cancer.gov/webanalytics/wcms/wa_wcms_pre.js" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
    <add key="SCode" value="//static.cancer.gov/webanalytics/wcms/s_code.js" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
    <add key="NCIAnalyticsFunctions" value="//static.cancer.gov/webanalytics/wcms/NCIAnalyticsFunctions.js" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
    <!-- END ANALYTICS JS PATH SETTINGS -->
  </appSettings>

  <nci>
    <search>
      <elasticsearch>
        <clusters>
          <!-- Switch to the tier-specific set of elasticsearch severs. -->
          <cluster name="SearchCluster" xdt:Locator="Match(name)" xdt:Transform="Replace" maximumretries="5" connectiontimeoutdelay="5000">
            <nodes>
              <node name="node1" ip="http://${PROD_ES_NODE_1}" port="9200" />
              <node name="node2" ip="http://${PROD_ES_NODE_2}" port="9200" />
              <node name="node3" ip="http://${PROD_ES_NODE_3}" port="9200"/>
            </nodes>
          </cluster>
        </clusters>
      </elasticsearch>
    </search>
    
    <web>
      <cde>
        <pageAssembly>
          <pageAssemblyInfoTypes enableValidation="false" xsdPath="~/Schema/CDESchema.xsd" xdt:Transform="SetAttributes">
          </pageAssemblyInfoTypes>
        </pageAssembly>
        <fileInstruction>
          <fileInstructionTypes enableValidation="false" xsdPath="~/Schema/CDESchema.xsd" xdt:Transform="SetAttributes">
          </fileInstructionTypes>
        </fileInstruction>
      </cde>
    </web>
  </nci>

  <!-- ***** Web Analytics *****-->
  <analytics>
    <urlPathChannelMappings>
      <urlPathChannelElement urlPath="/" channelName="CSSI - TCGA" urlMatch="" xdt:Locator="Match(urlPath)" xdtTransform="SetAttributes"></urlPathChannelElement>
    </urlPathChannelMappings>
  </analytics>
  <!-- ***** End Web Analytics ***** -->
  
  <common>
    <logging>
      <factoryAdapter type="NCI.Logging.Factories.MultiLoggerFactoryAdapter, NCILibrary.Core" xdt:Locator="Match(type)">
        <arg key="EmailLogger.level" value="FATAL" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
        <arg key="EmailLogger.emailAddressFrom" value="${CG_TEST_EMAIL}" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
        <arg key="EmailLogger.emailAddressesTo" value="${CG_TEST_EMAIL}" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
        
        <arg key="EventLogger.level" value="ERROR" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
        <arg key="EventLogger.logSource" value="TCGA_Preview" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
      </factoryAdapter>
    </logging>
  </common>
  
  <system.web>
    <compilation debug="false" xdt:Transform="SetAttributes" />
    <!-- ensure customError defaults -->
    <customErrors mode="On" defaultRedirect="/PublishedContent/ErrorMessages/error.html" redirectMode="ResponseRewrite" xdt:Transform="SetAttributes" >
      <error statusCode="404" redirect="/PublishedContent/ErrorMessages/pagenotfound.html" xdt:Locator="Match(statusCode)" xdt:Transform="SetAttributes" />
    </customErrors>
  </system.web>

  <system.webServer>
    <httpErrors>
      <error statusCode="404" prefixLanguageFilePath="" path="PageNotFound.aspx" responseMode="ExecuteURL" xdt:Locator="Match(statusCode)" xdt:Transform="SetAttributes" />
      <error statusCode="500" prefixLanguageFilePath="" path="/PublishedContent/ErrorMessages/error.html" responseMode="ExecuteURL" xdt:Locator="Match(statusCode)" xdt:Transform="SetAttributes" />
    </httpErrors>

    <rewrite>
      <outboundRules>
        <!-- Remove caching of static file types from preview sites to accomadate Percussion rules on when revision numbers change. -->
        <rule name="Cache Static Types" xdt:Locator="Match(name)" xdt:Transform="Remove" />
      </outboundRules>
    </rewrite>

  </system.webServer>
</configuration>